* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fafafa;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    margin-top: 80px;
    transition: margin-left 0.3s ease;
}

.main-header h1 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.card-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%;
    min-width: 250px;
}

.card-header h3 {
    margin: 0;
    font-size: 20px;
    color: #2c3e50;
}

.card-body p {
    color: #7f8c8d;
    font-size: 16px;
}

.card-body a {
    color: #2980b9;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {

    .card-grid {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
    }

    .sidebar-menu a {
        padding-left: 20px;
    }
}
