<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics Course</title>
    <link rel="stylesheet" href="../../static/css/math.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="header-logo">
            <a href="dashboard.html" style="text-decoration: none;"><h1>Mind<span>Wave</span></h1></a>
        </div>
        <div class="header-navigation-actions">
            <a href="user-profile.html" class="button">User Profile</a>
            <a href="user-profile.html" class="avatar">
                <img src="assets/profile.jpg" alt="User Avatar" />
            </a>
        </div>
    </header>

    <div class="dashboard">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-menu">
                <a href="dashboard.html">Dashboard</a>
                <a href="courses.html">Courses</a>
                <a href="people.html">People</a>
                <a href="logout.html">
                    <button class="btn-logout">Log Out</button>
                </a>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; 2024 KeYCo Platform. All rights reserved.</p>
        </footer>
    
    </body>
    </html>