<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics Course</title>
    <link rel="stylesheet" href="../public/css/math.css">
    <link rel="stylesheet" href="../public/css/dashboard.css">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="header-logo">
            <a href="dashboard.html" style="text-decoration: none;"><h1>Mind<span>Wave</span></h1></a>
        </div>
        <div class="header-navigation-actions">
            <a href="user-profile.html" class="button">User Profile</a>
            <a href="user-profile.html" class="avatar">
                <img src="assets/profile.jpg" alt="User Avatar" />
            </a>
        </div>
    </header>

    <div class="dashboard">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-menu">
                <a href="dashboard.html">Dashboard</a>
                <a href="courses.html">Courses</a>
                <a href="people.html">People</a>
                <a href="logout.html">
                    <button class="btn-logout">Log Out</button>
                </a>
            </div>
        </div>

        <!-- Main Content -->
        <h1>Registered Users</h1>
    
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>School Name</th>
                <th>Profession</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.school_name }}</td>
                <td>{{ user.profession }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </table>

        </div>

        <!-- Footer -->

        <footer class="footer">
            <p>&copy; 2024 KeYCo Platform. All rights reserved.</p>
        </footer>
    
    </body>
    </html>